body{
    background-color: blueviolet;
    color: white;
    font-size: 100px;
    font-style: italic;
}

h2{
    color: white;
    font-weight: bold;
    color:#548504 ;
}
#box1{
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    font-size: 20px;
    color: #000000;
}


#box2{
    width: 100px;
    height: 100px;
    background-color: #b50606;
    font-size: 20px;
    color: #ffffff;
}